    <footer class="index-header footer">
        <nav class="index-nav">
            <div>
                <img src="/img/logo.svg" alt="">
            </div>
            <div>
                <a href="/profile" class="btn btn-login">Return to Profile</a>
                <a href="/feed" class="btn btn-login">Return to Feed</a>
            </div>
        </nav>
    </footer>
</body>
</html>