<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Homework</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="index-header">
        <nav class="index-nav">
            <div>
                <img src="/img/logo.svg" alt="">
                <i class="fa-solid fa-right-to-bracket"></i>
            </div>
            <div class="links">
                <i class="fa fa-login"></i>
                <a href="/login" class="btn btn-login">Login <i class="fa fa-sign-in"></i></a>
                <a href="/signup" class="btn btn-signup">Signup</a>
            </div>
        </nav>
    </header>

    <section class="index-hero">
        <div>
            <img src="/img/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="">
        </div>
        <div class="index-hero-text">
            <h1>Make remote work</h1>
            <p>Get your team in sync, no matter your location. Streamline processes, create team rituals, and watch productivity soar.</p>
            <div class="links">
                <a href="/login" class="btn btn-login btn-hero-login">Login</a>
                <a href="/signup" class="btn btn-signup btn-hero-signup">Signup</a>
            </div>
        </div>
    </section>

    <section class="index-statistics">
        <div>
            <h3>2K+</h3>
            <p>companies</p>
        </div>
        <div>
            <h3>8</h3>
            <p>languages</p>
        </div>
        <div>
            <h3>1.2M</h3>
            <p>documents shared</p>
        </div>
    </section>

    <section class="index-testimonial">
        <div>
            <img class="index-testimonial-img" src="/img/itay-verchik-6ZKGBzrDd3I-unsplash.jpg" alt="">
        </div>
        <div class="index-testimonial-text">
            <h3>It just works!</h3>
            <p>"I really like how it is an all-in-one solution that allows the entire team to be on the same page. I can share material for a project and feel confident that everyone will receive it. This thing is a miracle worker."</p>
            <h4>Martin Villar</h4>
            <h4>Head of Marketing</h4>
        </div>
    </section>

    <section class="index-testimonial">
        <div class="index-testimonial-text">
            <h3>It makes life so much easier!</h3>
            <p>"It used to be difficult to keep track of the material that I would give to students. Students might be absent from class or lose the handouts, but now they have no excuse. Everything is in one place, there is class time to dedicate to learning, and my life is much easier."</p>
            <h4>Olivia Shaw</h4>
            <h4>Teacher</h4>
        </div>
        <div>
            <img class="index-testimonial-img" src="/img/michael-dam-mEZ3PoFGs_k-unsplash.jpg" alt="">
        </div>
    </section>

    <footer class="index-header">
        <nav class="index-nav">
            <div>
                <img src="/img/logo.svg" alt="">
            </div>
            <div class="links">
                <a href="/login" class="btn btn-login"> Login</a>
                <a href="/signup" class="btn btn-signup"> Signup</a>
            </div>
        </nav>
    </footer>

    </body>
</html>