<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
</head>
<body class="login-body">
    <section class="login-form-section">
        <form action="/login" method="POST" class="login-form">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" class="submit-btn">
        </form>
        <h3>Don't have an account yet?</h3>
        <a href="/signup" class="btn btn-signup btn-hero-signup">Sign up</a>
    </section>
</body>
</html>