<%- include('partials/header') -%>

<div>
    <h2><%= post.title %></h2>
    <p><%= post.caption %></p>
</div>

<div>
    <a href="/profile">Return to Profile</a>
    <a href="/feed">Return to Feed</a>
</div>

<%- include('partials/footer') -%>