<%- include('partials/header') -%>

<h1>Settings</h1>

<form action="/setting/createProfilePhoto" enctype="multipart/form-data" method="POST">
    <label for="imgUpload">Profile Photo</label>
    <input type="file" id="imageUpload" name="file" class="file">
    <button type="submit">Submit</button>
</form>

<%- include('partials/footer') -%>